.blogTemplate .blogTemplate-title {
  margin: 40px 0 24px;
  font-size: 4em;
  letter-spacing: 1px;
}

.blogTemplate .blogTemplate-posted-by {
  font-size: 1.2em;
}

.blogTemplate a {
  color: rgb(253, 186, 22);
}
