.inquiry {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.inquiry h1 {
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1.4;
}

.circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 54px;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  display: flex;
}

.wrapper .image-wrapper .image {
  flex: 1;
}

.wrapper .image-wrapper .image:nth-child(1) {
  margin-right: 40px;
}

.image-wrapper.hue {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.image-wrapper.blur {
  filter: blur(10px);
}

.image-wrapper.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}

.image-wrapper.invert {
  -webkit-filter: invert(0.8);
  filter: invert(0.9);
}

.image-wrapper.contrast {
  -webkit-filter: contrast(4);
  filter: contrast(4);
}
