html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.main {
  padding: 24px;
  font-family: -apple-system, "Raleway", sans-serif;
  background-color: #a64ac9;
  height: 100%;
  color: #ffffff;
  line-height: 1.4;
  letter-spacing: 2px;
}

.main h1 {
  font-size: 4em;
  font-family: -apple-system, "Playfair Display", serif;
  font-weight: 400;
}

.main p {
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 1px;
}
