html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.main {
  padding: 24px 24px 24px 58px;
  font-family: -apple-system, "Raleway", sans-serif;
  height: 100%;
  color: rgb(55, 43, 34);
  line-height: 1.4;
  letter-spacing: 2px;
}

.main h1 {
  font-size: 6em;
  font-family: -apple-system, "Raleway", serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(53, 67, 142);
  margin: 0.2rem 0.1rem;
  letter-spacing: 12px;
}

.main p {
  font-size: 1.5em;
  line-height: 1.6;
  letter-spacing: 1px;
  width: 50%;
}

.home-post-list {
  padding-top: 40px;
}
