.post {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(53, 67, 142);
}

.post .post-title {
  font-size: 3em;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.post .post-description {
  font-size: 1.3em;
  margin-top: 0.4em;
}

.post .post-written-by {
  font-size: 1em;
}

.post a {
  background-color: white;
  color: rgb(53, 67, 142);
  border: 1px solid rgb(253, 186, 22);
  border-radius: 23px;
  padding: 14px 17px;
  text-decoration: none;
  margin-top: 16px;
  display: inline-block;
}
